@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

/* Base Theme */
:root {
  /* Theme */
  --primary: #06b290;
  --primary-light: #08d9af;
  --primary-lighter: #3af8d2;
  --blue: #007af5;
  --blue-light: #1e90ff;
  --background: #f6f5f7;
  --gray-shade-lightest: #e0e0e0;
  --gray-shade-lighter: #c9c9c9;
  --gray-shade-light: #adadad;
  --gray-shade-dark: #353535;
  --gray-shade-darker: #2b2b2b;
  --gray-shade-darkest: #1f1f1f;
}


.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.button{
  border-radius: 4px;
}

.button:hover{
  cursor: pointer;
}