*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
}

.main{
    width: 80rem;
    height: 53rem;
    border-radius: 1rem;
    box-shadow: 0 0 0 0 var(--gray-shade-lighter),-0.2rem -0.2rem 1.5rem 0.5rem var(--gray-shade-lighter),0 2rem 2.5rem -0.8rem var(--gray-shade-lighter);
    margin: 2rem;
}

#top{
    height: 9rem;
    padding: 3rem;
    background-color: var(--primary);
    border-radius: 1rem 1rem 0 0;
    
}

#bottom{
    height: 32rem;
    background-color: white;
    padding: 3rem;
    border-radius: 0 0 1rem 1rem;
}

#content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    bottom: 10rem;
    height: 40rem;
    border: 2px solid var(--gray-shade-lightest);
    border-radius: 1rem;
    background-color: white;
}

#left{
    border-radius: 1rem 0 0 1rem;
    border-right: 2px solid var(--gray-shade-lightest);
}

#upper{
    padding: 2rem;
}


#profile-pic{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: black;
    margin-bottom: 2rem;
}

#right{
    border-radius: 0 1rem 1rem 0;
}