.size{
    font-size: 1.3rem;
}

.pad{
    padding-top: 5px;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    letter-spacing: 0.5px;
}

.main{
    width: 100%;
    border-radius: 1rem;
}

#top{
    display: flex;
    justify-content: center;
    height: 18rem;
    padding: 3rem;
    background-color: var(--primary);
}

#heading{
    margin-top: 1rem;
    width: 100rem;
}

#bottom{
    padding: 3rem 3rem 0 3rem;
    background-color: var(--background);
}

#content{
    position: relative;
    top: -10rem;
    width: 100rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 1rem;
    background-color: white;
}

#upper{
    display: flex;
    padding: 2rem;
    border-bottom: 2px solid var(--gray-shade-lightest);
}

#wrapper1{
    display: flex;
}

#profile-pic{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: black;
}

#wrapper{
    padding: 2rem;
}

#edit-btn{
    height: 3.5rem;
    margin-left: auto;
    display: flex;
    border-radius: 18px;
    border: 2px solid var(--gray-shade-light);
    background-color: white;
    padding: 10px 15px;
}

#edit-btn:hover{
    cursor: pointer;
    background-color: var(--primary);
    border: 2px solid black;
    color: white;
}

#edit-btn:hover .pad1{
    color: white;
}

.pad1{
    padding-right: 10px;
    letter-spacing: 0.5px;
}

#lower{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#left{
    border-right: 2px solid var(--gray-shade-lightest);
}

#row1{
    padding: 2rem;
    border-bottom: 2px solid var(--gray-shade-lightest);
}

#row2{
    padding: 2rem;
}

#projects{
    margin-top: 5px;
}

#project-list{
    padding: 5px 0;
}

#row3{
    padding: 2rem;
    border-bottom: 2px solid var(--gray-shade-lightest);
}

#about{
    margin-top: 10px;
}

#row4{
    padding: 2rem;
}

#domain{
    display: flex;
    margin-top: 5px;
}

#domain-list{
    padding: 5px 10px;
    border: 1px solid var(--gray-shade-light);
    border-radius: 5px;
    margin: 5px 10px 5px 0;
}

@media only screen and (max-width: 625px){

    #lower{
        display: block;
    }

    #left{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-right: 0;
    }

    #row2{
        border-bottom: 2px solid var(--gray-shade-lightest);
        border-left: 2px solid var(--gray-shade-lightest);
    }
}

@media only screen and (max-width: 550px){

    #wrapper1{
        flex-flow: column;
        align-items: center;
    }
}

@media only screen and (max-width: 450px){

    #upper{
        display: block;
    }

    #left{
        display: block;
    }

    #row2{
        border-left: 0;
    }
}